<nav>
    <a href="{{url_for('index')}}">Socilite</a>
    <ul>
        {% if g.user.is_authenticated %}
        <li>
            <span>{{g.user}}</span>
            <ul>
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('login') }}">Login</a>
        </li>
        <li>
            <a href="{{ url_for('reg') }}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>
