<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('index')}}">Socilite</a>
                <ul>
                    {% if g.user %}
                    <li>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('reg') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <h1>Socilite</h1>
        </header>
        <main>
            <hr>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
